section.signup-section
  .container
    .row.text-white
      .col-3
        ul
          li
            = label_tag :org, 'ORG:'
            p = number_field_tag :org, @org || 32768
          li
            = label_tag :file, 'ФАЙЛ:'
            p = file_field_tag :file
      .col-9
        .file
          = render partial: 'file'

javascript:
    function reload() {
        let formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        formData.append('org',  $('#org').val());
        $('.signup-section').css('background', '');
        $.ajax({
            url: "#{disasm_path}",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false
        });
    }

    $('input').change(() => reload());

    function copy_to_clipboard() {
        $("#textarea").select();
        document.execCommand("copy");
    }

    function download_txt() {
        var blob = new Blob([$("#textarea").val()], {type: "text/plain;charset=utf-8"});
        saveAs(blob, 'file_' + Date.now() + ".asm");
    }
