section.signup-section
  .container
    .row.text-white
      .col-2.text-right
        = label_tag :org, 'ORG:'
        = number_field_tag :org, 32768
      .col-3.text-left
        = label_tag :file, 'ФАЙЛ:'
        = file_field_tag :file
.xfile
  = render partial: 'xfile'

javascript:
    $("input:file").change(function() {
        let formData = new FormData();
        formData.append('file', this.files[0]);
        formData.append('org', $('#org').val());
        $('.signup-section').css('background', '');
        $.ajax({
            url: "#{disasm_xfile_path}",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false
        });
    });
