section.signup-section
  .container
    .row.text-white
      .col-3
        ul
          p
            div = label_tag :org, 'ORG:'
            = number_field_tag :org, @org
          p
            = text_field_tag :org_hex, "##{@org.to_s(16)}"
          p
            = label_tag :file, 'ФАЙЛ:'
            = file_field_tag :file
      .col-9
        .file
          = render partial: 'file'

javascript:
    function reload() {
        let formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        formData.append('org',  $('#org').val());
        $('.signup-section').css('background', '');
        $.ajax({
            url: "#{disasm_path}",
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false
        });
    }

    $('#org_hex').change(() => {
        let hex = $('#org_hex').val().split('#')[1];
        $('#org').val(parseInt('0x' + hex, 16))
    });
    $('#org').change(() => {
        let num = parseInt($('#org').val(),10).toString(16)
        $('#org_hex').val('#' + num)
    });

    $('input').change(() => reload());

    function copy_to_clipboard() {
        let textarea = $('#textarea');
        textarea.val(editor.getValue());
        textarea.select();
        document.execCommand("copy");
    }

    function download_txt() {
        var blob = new Blob([$("#textarea").val()], {type: "text/plain;charset=utf-8"});
        saveAs(blob, 'file_' + Date.now() + ".asm");
    }
